// nextflow.config
// @prateek Scanpy QC parameters here need more flexibilities, especially for mito prefix species are different.
params {
    // Input/ Output
    input = 'samples.csv'
    outdir = 'results'
    run_mode = 'genefull' // Options: genefull, velocity
    bypass_soupX = false
    tracedir = "${params.outdir}/pipeline_info" // Update test 241228

    // STARsolo Para
    soloType = 'CB_UMI_Simple'
    soloCBwhitelist = '/home/groups/wangbo/gyang/Resources/10X/3M-february-2018.txt' // default for v3, need to set for v4 manually
    soloUMIfiltering = 'MultiGeneUMI_CR'
    soloUMIdedup = '1MM_CR'
    soloCBstart = 1
    soloCBlen = 16
    soloUMIstart = 17
    soloUMIlen = 12

    // Sam QC
    min_genes_per_cell = 500
    min_cells_per_gene = 3
    max_genes_per_cell = 6000
    max_counts_per_cell = 20000
    max_mito = 0.2
    mito_max_map = null
    mito_prefixes = ['mt-']
    mito_gene_list = null

    // Downstream processing
    n_hvg = 3000
    n_neighbors = 15
    n_pcs = 50
    marker_genes = null
}

// --------------------------------------------------
//                     PROCESS
// --------------------------------------------------
process {


    withName: 'STAR_SOLO' {
        cpus = 8
        memory = '56.GB'
        ext.args = { "--limitBAMsortRAM 50024509440" }
    }

    withName: 'GZIP_SOLO_OUTPUT|GZIP_MATRICES' {
        conda = null
    }

    withName: 'SCRUBLET|SAM_QC|ADD_VELOCITY_LAYERS|METAQC_MERGE|SOUPX' {
        cpus = 10
    }

}

// --------------------------------------------------
//                 PROFILES
// --------------------------------------------------
profiles {
    //  when running -profile standard
    standard {
        executor {
            name = 'local'
            cpus = 50
            memory = '249.GB'
        }
    }

    //  when running -profile conda
    conda {
        process.conda = "$baseDir/bin/environment.yml"
        conda.useMamba = true

        // copy previuos executor
        includeConfig 'nextflow.config'
        profile 'standard'
    }
}

// Update test 241228
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}
