// nextflow.config

params {
    // Input/ Output
    input = 'samples.csv'
    outdir = 'results'

    // STARsolo Para
    soloType = 'Droplet'
    soloCBwhitelist = '/home/groups/wangbo/gyang/Resources/10X/3M-february-2018.txt' // TBD
    soloUMIfiltering = 'MultiGeneUMI_CR'
    soloUMIdedup = '1MM_CR' 
    soloCBstart = 1
    soloCBlen = 16
    soloUMIstart = 17
    soloUMIlen = 12

    // Scanpy QC 
    min_genes_per_cell = 600
    min_cells_per_gene = 3
    max_genes_per_cell = 6000
    max_counts_per_cell = 20000
    max_mito_percent = 0.2 
    mito_prefixes = "'mt-'" 
}

// Environment
process {
    conda = false  // "$baseDir/bin/environment.yml" 

    withName: 'STAR_SOLO' {
    cpus = 8 
    }
}
executor {
    name = 'local'
    cpus = 35   
    memory = '250.GB' 
}
// conda profile
profiles {
    conda {
        process.conda = "$baseDir/bin/environment.yml"
        conda.useMamba = true 
    }
}
